.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
  background: none;
}

#index2 .navbar-light .navbar-toggler {
  color: #ffffff;
  outline: 0;
}

#index3 .navbar-light .navbar-toggler,
#index4 .navbar-light .navbar-toggler {
  color: #ffffff;
  outline: 0;
}

.navbar-light .navbar-toggler {
  color: #070707;
  outline: 0;
}

.navbar-toggler i {
  font-size: 28px;
}

/* .nav-bg i {
  color: #131313;
} */

.navbar-toggler {
  border: none;
}
@media (max-width: 991px) {
  .slidecard {
    width: 100% !important;
  }
  .resultcard {
    width: 100% !important;
    min-height: 15rem;
  }
  /* .resultcard:hover .under{
    background-color: red !important;
  } */
  .mycrd {
    width: 100% !important;
  }
  .cta {
    margin-top: 50px !important;
    background: #804f2a;
    background-image: none !important;
    width: 100% !important;
    padding: 80px 80px;
  }
  .backgroundimage {
    padding: 50px !important;
  }

  .signuptext {
    position: inherit;
    margin-top: 20px;
  }
  .signuptext p {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #312a28;
  }

  .signuptext a {
    color: #9d5d41 !important;
  }

  .ms {
    margin-left: auto !important;
  }
  .ps {
    /* padding-left: inherit !important; */
    padding-left: 2rem !important;
  }
  .mr {
    margin-right: auto !important;
  }

  .form-switch {
    padding-left: 0.5em !important;
  }
  .page-link {
    padding: 0.5rem 0.5rem !important;
    margin: 0 10px !important;
    border-radius: 10px;
  }
}

@media (max-width: 575px) {
  .page-link {
    padding: 0.5rem 0.5rem !important;
    margin: -3px 1px !important;
    border-radius: 10px;
  }
  .card-link + .card-link {
    margin-left: 0.1rem !important;
  }
  .card-body {
    padding: 15px !important;
  }

  .backgroundimage {
    padding: 20px !important;
  }
}
