/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@font-face {
  src: url(../assets/fonts/circular-std-medium-500.ttf);
  font-family: "Circular Std";
}

@font-face {
  src: url(../assets/fonts/Claspo-ND/Claspo-ND-Regular.ttf);
  font-family: "Claspo ND";
}

@font-face {
  src: url(../assets/fonts/Claspo-ND/Claspo-ND-Bold.ttf);
  font-family: "Claspo ND bold";
}
@font-face {
  src: url(../assets/fonts/Claspo-ND/Claspo-ND-Medium.ttf);
  font-family: "Claspo ND med";
}
@font-face {
  src: url(../assets/fonts/BreatheNeue/BreatheNeue.ttf);
  font-family: "Breathe Neue";
}
body {
  font-family: "Poppins", sans-serif;
  background: #f7f7f7;
}

.container {
  max-width: 100%;
}

p {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 129.23%;
  color: #000000;
  margin-bottom: 0;
}

h1 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #000000;
}
h3 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 22.2748px;
  line-height: 94.73%;
  color: #000000;
}

h3.text-secodary {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 22.2748px;
  line-height: 94.73%;
  color: #808080;
}
h4 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

h4.text-secondary {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 94.73%;
  color: #808080;
}
.btn-clear {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
h5 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

h6 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140.73%;
  /* or 17px */

  color: #312a28;
}
.btn-group-sm > .btn,
.btn-sm {
  padding: 0.15rem 0.25rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
}
.text-primary {
  color: #9d5d41 !important;
}

.text-secondary {
  color: #808080 !important;
}

/* color: rgba(49, 42, 40, 0.4); */
.text-danger {
  color: #bf3939 !important;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  /* padding: 15px 10px; */
  background: #fff;
  border: none;
  border-radius: 0;
  /* margin-bottom: 40px; */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar > .container {
  padding: 0 50px;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
.navbar-light .navbar-nav .nav-link {
  color: #312a28 !important;
  padding-right: 16px;
  padding-left: 16px;
  font-family: "Claspo ND";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #a65a3a !important;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #a65a3a !important;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  /* width: 100%; */
  /* align-items: stretch; */
  /* perspective: 1500px; */
  /* height: 100vh; */
  /* overflow-y: hidden; */
}

#sidebar {
  min-width: 18%;
  max-width: 18%;
  background: #f8f8fb;
  border-right: 1px solid #eee;
  color: #312a28;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: bottom left;
  float: left;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 80px;
  /* height: 100%; */
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}
.main {
  /* margin-left: 260px; */
  max-height: 100vh;
  width: 82%;
  /* min-height: 90vh; */
  /* max-height: 91vh; */
  /* overflow-y: auto; */
  float: right;
  /* padding: 30px; */
  margin-top: 80px;
  /* margin-bottom: 200px; */
}

#sidebar.active {
  /* width: 0; */
  display: none;
  /* margin-left: -250px; */
  /* transform: rotateY(100deg); */
}
.main.active {
  width: 100%;
}

#sidebar .sidebar-header {
  padding: 30px;
  background: #f5ece8;
}

#sidebar ul.components {
  padding: 30px 0;
  /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 20px 30px;
  font-size: 1.1em;
  display: block;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 94.73%;
  color: #312a28;
  margin: 10px 0px;
}
#sidebar ul li a:hover {
  color: #9d5d41;
  background: #f6e7e0 !important;
  border-radius: 5px;
}

#sidebar ul li.active > a {
  color: #9d5d41;
  background: #f6e7e0;
  border-radius: 5px;
  /* background: #6d7fcc; */
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  /* padding: 20px; */
  /* min-height: 100vh; */
  transition: all 0.3s;
}

.sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #ffffff;
  cursor: pointer;
  border: none !important;
}

.sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition-delay: 0.2s;
}

.sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}
.sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
.sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}

.sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

.dropdown-menu[data-bs-popper] {
  top: 140%;
  /* left: 0;
  right: 0; */
  margin-top: 0.125rem;
  /* border-radius: inherit; */
  border: none !important;
  /* box-shadow: 0 0 5px rgb(0 0 0 / 10%) !important; */
  font-weight: normal;
  /* background: white !important; */
  -webkit-transition: all 0.5s ease-in !important;
  -moz-transition: all 0.5s ease-in !important;
  -ms-transition: all 0.5s ease-in !important;
  -o-transition: all 0.5s ease-in !important;
  transition: all 0.5s ease-in !important;
  background: #f8f8fb !important;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 10%) !important;
  border-radius: 10px !important;
}

.dropdown-menu {
  min-width: 15rem !important;
  padding: 1rem 0;
  margin: 0;

  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 1rem 1rem;
  clear: both;
  font-family: "Circular Std" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 94.73% !important;
  color: #808080 !important;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-menu:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1) transparent;
}

.dropdown-menu:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 15px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #fff transparent;
}

.dropdown-toggle::after {
  display: none !important;

  content: "";
}

.profileimg {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 17px rgba(157, 93, 65, 0.38));
  border-radius: 500px;
}

.dropdown-item:hover {
  color: #9d5d41 !important;
  background-color: inherit !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #9d5d41 !important;
  background-color: inherit !important;
}

.relative {
  position: relative;
}
.editlink {
  position: absolute;
  top: 10px;
  right: 10px;
}
.editlink a {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #9d5d41;
}

.img-upload img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  /* background-color: rgb(71, 69, 69); */
  border: 2px solid #fff;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); */
  border: 1.46552px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 2.93103px 12.4569px rgba(157, 93, 65, 0.38);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in-out;
}

#file1 {
  display: none;
}

/* img {
  cursor: pointer;
  width: 200px;
  height: 200px;
} */

img.default {
  /* border: 2px gray dashed; */
  padding: 30px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.img-upload img:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-image: url("https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Instagram_svg-512.png");
  opacity: 0.5;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.profileCard {
  background: #ffffff;
  border: 1px solid #d2d3d5;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 13.9218px 27.8436px rgba(0, 0, 0, 0.05);
}
.profileCard .card-header {
  border: none !important;
  background: #ffffff;
  border-bottom: 1px solid #c5c5c5 !important;
  padding: 20px 30px;
}
.profileCard .card-body {
  padding: 20px 30px;
}

.profileCard .card-footer {
  background: #fff !important;
}

.addresscard {
  background: #ffffff;
  border: 1px solid #d2d3d5;
  box-sizing: border-box;
  border-radius: 5px;
}
.addresscard .card-header {
  background: transparent !important;
  border: none !important;
  padding: 20px 30px;
}

.addresscard .card-body {
  background: #f7f7f7;
  border-radius: 4px;
  padding: 20px 30px;
}
/* .form-check .form-check-input {
  float: left;
  margin-left: -1.4em !important;
  margin-right: -25px !important;
} */

.form-check-input:checked {
  background-color: #8d4e33 !important;
  border-color: #8d4e33 !important;
}
.form-check-input:focus {
  border-color: #9d5d41;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(141, 78, 51, 0.251) !important;
}

.form-switch .form-check-input {
  width: 3em;
  margin-left: 5em;
  height: 1.5em !important;
  margin-right: 1.5rem;
}
.form-check-label {
  margin-top: 3px;
}

.form-control2:focus {
  color: #212529;
  background: #f6e7e0 !important;
  border: none !important;
  border-bottom: 1px solid #9d5d41 !important;
  outline: 0;
  box-shadow: none !important;
}
.form-control2 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 94.73% !important;
  color: #808080 !important;
  border: none !important;
  border-bottom: 1px solid rgb(157, 93, 65) !important;
}
.form-control3 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 94.73% !important;
  /* color: #808080 !important; */
  background: #f3f3f3;
  border-radius: 5px;
  border: none !important;
  /* border-bottom: 1px solid #9d5d41 !important; */
}

.form-control4 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 94.73% !important;
  background: #f7f7f7;
  border-radius: 5px;
}

.form-control:focus {
  color: #212529;
  background: #f7f7f7;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(157, 93, 65, 0.25) !important;
}

.form-control2:disabled,
.form-control2[readonly] {
  background-color: transparent !important;
  opacity: 1;
  border: none !important;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #f7f7f7;
  border: none !important;
  border-radius: 0.25rem;
}

.btn-primary {
  background: #9d5d41 !important;
  border-radius: 10px !important;
  border-color: #b06d51 !important;
  padding: 10px 30px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: normal;
  border-radius: 5px !important;
}
.btn-outline-primary {
  color: #b06d51 !important;
  border-color: #b06d51 !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #b06d51;
  border-color: #b06d51;
}

.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
  color: #fff;
  background-color: #b06d51;
  border-color: #b06d51;
}

.btn-primary:hover {
  color: #fff;
  background-color: #b06d51c7 !important;
  border-color: #b06d51c7 !important;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: rgb(176, 110, 82);
  border-color: #b06d51;
  box-shadow: 0 0 0 0.25rem rgb(176 110 82 / 50%);
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(176 110 82 / 50%);
}

.form-group label {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 10px !important;
}

.form-control {
  border: none !important;
  padding: 12px !important;
}
.hide {
  display: none !important;
}
.card {
  background: #ffffff;
  border-radius: 10px;
  border: none !important;
}
.upgrade-card {
  background: #f4f3f3;
  border: 0.751581px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  /* margin: auto; */
  text-align: center;
  vertical-align: middle;
  height: 415px;
  width: 100%;
  line-height: 420px;
  /* cursor: pointer; */
}

.upgrade-card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.upgrade-card .card-body i {
  font-size: 40px;
  color: rgb(255, 255, 255) !important;
}
.upgradeimg {
  background: rgba(157, 93, 65, 0.1);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 95px;
  margin: auto;
  margin-bottom: 40px;
}

.myhead .card-header {
  padding: 0rem 1rem;
  margin-bottom: 0;
  background-color: rgb(255, 255, 255);
  /* border-bottom: none !important; */
}
.border-dark {
  border: 0.751581px solid rgba(49, 42, 40, 0.13) !important;
}

.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: 0 0;
  border: none !important;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 94.73%;
  color: rgba(49, 42, 40, 0.3) !important;
  padding: 20px !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #000000 !important;
  background-color: #fff;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 5px solid #9d5d41 !important;
}

/* navs */

.mynav .nav-link {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 94.73%;
  color: #a5a3a2;
  display: block;
  padding: 0.3rem 1.5rem;
  margin-bottom: 2rem;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
/* .mynav .nav-link:hover {
  /* color: #312a28;
  padding-left: 1.5rem; */
/* border-left: 5px solid #9d5d41; */
/* }  */
.mynav .nav-link.active {
  color: #312a28;
  padding-left: 1.2rem;
  border-left: 5px solid #9d5d41;
}

/* .addImg img {
} */
.addVid {
  width: 100%;
  height: 136px;
  background: #eee;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.tips {
  width: 100%;
  padding: 20px;
  background: #fff8f5;
  border-radius: 5px;
}

.myselect {
  width: 160px !important;
  color: #9d5d41;
  border: none !important;
  padding: 10px !important;
  display: inline-block !important;
}

span.sptext {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 94.73%;
  color: #ffffff;
  background: #a65a3a !important;
  border-radius: 50px;
  padding: 15px 15px;
}

.no-radius {
  border-radius: 0 !important;
}
.headerrow {
  height: 50px !important;
  line-height: 50px;
  background: #fff !important;
  font-weight: bold;
}
.border-rignt {
  border-right: 1px solid #dddcdc;
}
hr {
  margin: 0rem 0 !important;
  background-color: #dddcdc !important;
  opacity: 1 !important;
}

.imgcard img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

/* Ratings CSS */

.ratings {
  margin-right: 10px;
}

.ratings i {
  color: #9ea2a7;
  font-size: 14px !important;
}

.small-ratings i {
  color: #9ea2a7;
}
.rating-color {
  color: #9d5d41 !important;
}

.withratings i {
  font-size: 18px !important;
  margin-left: 5px !important;
}

.modalimg img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.inboximg img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
}
p.wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.messagespace {
  height: 60vh !important;
  overflow-y: auto;
  position: relative;
}
.allmessages {
  height: 65vh !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.inputspace {
  /* position: absolute; */
  /* bottom: 0;
  left: 0;
  width: 80%; */
  margin: 20px;
}
.msgActive {
  background-color: #fff !important;
  /* padding: 20px; */
}
.sender {
  width: 400px;
}
.receiver {
  width: 400px;
  float: right;
}
.clear {
  clear: both;
}
.messagebox {
  background: #f7f7f7;
  border-radius: 0px 15px 15px 15px;
  padding: 20px;
  margin-bottom: 10px;
}
.messageboxr {
  background: #f7f7f7;
  border-radius: 15px 0px 15px 15px;
  padding: 20px;
  margin-bottom: 10px;
}

.sendbtn {
  background: #b06d51;
  border-radius: 50%;
  padding: 10px 12px;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (min-width: 1200px) and (max-width: 1400px) {
  #sidebar {
    min-width: 25%;
    max-width: 25%;
    /* background: #5b453c; */
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
    transform-origin: bottom left;
    float: left;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 80px;
    /* height: 100%;  */
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  #sidebar {
    min-width: 25%;
    max-width: 25%;
    /* background: #5b453c; */
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
    transform-origin: bottom left;
    float: left;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 80px;
    /* height: 100%; */
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .main {
    /* margin-left: 260px; */
    max-height: 100vh;
    width: 73%;
    /* min-height: 90vh; */
    /* max-height: 91vh; */
    /* overflow-y: auto; */
    float: right;
    /* padding: 30px; */
    margin-top: 80px;
    /* margin-bottom: 200px; */
  }

  .form-switch .form-check-input {
    width: 3em;
    margin-left: 0.5em;
    height: 1.5em !important;
    margin-right: 1.5rem;
  }
}
@media (max-width: 768px) {
  #sidebar {
    /* margin-left: -250px; */
    transform: rotateY(90deg);
    width: 0;
    display: none;
  }
  .main {
    width: 100%;
  }
  #sidebar.active {
    /* margin-left: 0; */
    transform: none;
    min-width: 35%;
    max-width: 35%;
    display: block;
  }
  .main.active {
    width: 60%;
  }
  .sidebarCollapse span:first-of-type,
  .sidebarCollapse span:nth-of-type(2),
  .sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  .sidebarCollapse.active span {
    margin: 0 auto;
  }
  .sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }
  .sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }
  .sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }
  .main {
    margin-left: 10px;
    /* max-height: 100vh; */
    /* overflow-y: auto; */
  }
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
label {
  cursor: pointer;
  /* Style as you please, it will become the visible UI component. */
}

.noservice {
  margin: 250px auto;
}

@media (max-width: 570px) {
  .sender {
    width: 300px;
  }
  .receiver {
    width: 300px;
    float: right;
  }

  #sidebar {
    /* margin-left: -250px; */
    transform: rotateY(90deg);
    width: 0;
    display: none;
  }
  .main {
    width: 100%;
  }
  #sidebar.active {
    /* margin-left: 0; */
    transform: none;
    min-width: 70%;
    max-width: 70%;
    display: block;
    z-index: 999;
  }
  .main.active {
    width: 100%;
  }
  .sidebarCollapse span:first-of-type,
  .sidebarCollapse span:nth-of-type(2),
  .sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  .sidebarCollapse.active span {
    margin: 0 auto;
  }
  .sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }
  .sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }
  .sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }
  .main {
    margin-left: 10px;
    /* max-height: 100vh; */
    /* overflow-y: auto; */
  }

  .form-switch .form-check-input {
    width: 3em;
    margin-left: -2.55em;
    height: 1.5em !important;
    margin-right: 1.5rem;
  }
}
